@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 
/* share styles */
* {
  font-family: "Quicksand", serif;
  margin: 0;
  padding: 0;
}
 
main{
  background-image: url("../assets/bg.png");
}
.no-display {
  display: none;
}
 
.display-flex {
  display: flex;
}
 
.blue-font {
  color: rgb(1, 172, 253);
}
 
.yellow-font {
  color: rgb(254, 163, 1);
}
 
.yellow-bg {
  background: rgb(254, 163, 1);
}
 
.black-bg {
  background: rgb(17, 17, 17);
}
 
.btn-primary {
  max-width: 190px;
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border-radius: 12px;
  border: none;
}
 
.horizontal-row {
  border: 1px dashed gray;
}
 
 section{
  max-width: 1150px;
  margin: 0 auto;
 }
 
 
 
 
/* navbar styles */
header,section {
  max-width: 1150px;
  margin: 0 auto;
}
 
.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 18px;
 
}
 
.logos {
  align-items: center;
 
}
 
.menu-image {
  display: none;
}
 

.logo-title {
  font-weight: 700;
  font-size: 2rem;
}
 
.nav-list {
  display: flex;
  gap: 32px;
}
 
.nav-list a {
  text-decoration: none;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.nav-list a:nth-child(1) {
  color: #FEA301;
  font-weight: 700;
}
.nav-list a:nth-child(2) {
  color: #01ACFD;
}
.nav-list a:nth-child(3) {
  color: #05D4DF;
}
.nav-list a:nth-child(4) {
  color: #5D58EF;
}
.Nav-btn{
  background: #FEA301;
  color: #FFF;
    max-width: 196px;
    border-radius: 12px;
    border: none;
    padding: 10px;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
}
 
 
/* banner styles */
.banner{
  margin: 120px 50px 0 0;
}
.banner-info{
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.banner-title{
  font-size: 3.5rem;
  font-weight: 700;
  
}
.banner-description{
  font-size: 1.25rem;
  font-weight: 400;
 
}


/* curriculum styles */

.curriculum{
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
   padding-bottom: 50px;
   gap: 80px;
}
.arrow-btn{
  border-radius: 50%;
  background: #FEA301;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 1.25rem;
  font-weight: 700;
}
.card-container{
  gap: 28px;
}
.card-1{
  background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  border-radius: 18.86px;
  max-width: 350px;
  height: 400px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 33px;
}
.card-2{
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  border-radius: 18.86px;
  max-width: 350px;
  height: 400px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 33px;
}
.card-3{
  background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  border-radius: 18.86px;
  max-width: 350px;
  height: 400px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 33px;
}

.card-img{
  max-width: 120px;
  height: 100px;
}
.card-title{
  font-size: 1.5rem;
  font-weight: 700;
}
.card-description{
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
}
.card-btn-1{
  border: none;
  width: 100px;
  height: 28px;
  color: rgb(100, 200, 255);
  font-size: 0.9rem;
  background: none;
}
.card-btn-2{
  border: none;
  width: 100px;
  height: 28px;
  color: rgb(240, 170, 0);
  font-size: 0.9rem;
  background: none;
}
.card-btn-3{
  border: none;
  max-width: 100px;
  height: 28px;
  color: rgb(135, 0, 255);
  font-size: 0.9rem;
  background: none;
}



/* story styles--------------- */

.story-bg{
  background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.stories{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.story-section-title{
  font-size: 2.5rem;
  font-weight: 700;
}
.story-card-container{
   gap: 18px;
}

.left-card{
  flex-direction: column;
  background: rgb(255, 255, 255);
  border-radius: 16px;
}

.story-img{
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}
.story-btn{
  background: rgb(60, 216, 232);
  border: none;
  color: white;
  font-size: 0.8rem;
  max-width: 150px;
  height: 45px;
  border-radius: 45px;
  margin-left: 33px;
  margin-top: -28px;
}
.story-title{
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px;
}
.story-description{
  color: rgb(102, 102, 102);
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 30px 30px;
}
.right-card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
}
.story-card2,
.story-card3,
.story-card4,
.story-card5{
   flex-direction: column;
  background: rgb(255, 255, 255);
  border-radius: 16px;
}
.right-card-btn{
  max-width: 140px;
  height: 34px;
  border-radius: 45px;
  background: rgb(149, 178, 38);
  border: none;
  color: white;
  font-size: 0.7rem;
  margin-left: 35px;
  margin-top: -21px;
}
.right-card-title{
  font-size: 0.9rem;
  font-weight: 700;
  padding: 32px;
}
.right-card-img{
  border-radius: 10px 10px 0 0;
}
.story-button{
  padding: 10px 30px;
}
.btn-3{
  background: rgb(93, 88, 240);
}

/* footer styles */

footer{
  background: rgb(1, 172, 253);

}
.footer-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 80px;
  padding: 120px 150px 130px 140px;
}

.footer-title{
  align-items: center;

}
.footer-img{
  max-width: 80px;
  height: 80px;
}
.name{
  color: rgb(255, 255, 255);
  font-size: 2.3rem;
  font-weight: 700;
}
.footer-para{
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin-top: 30px;
}
.footer-list-title{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer-list-item{
  flex-direction: column;
}
.footer-list-item a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.icon-title{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}






 
 
/* responsive media query styles */
 
@media screen and (max-width: 576px) {
 body{
    max-width: 100vw;
 }
 .horizontal-row{
  display: none;
 }
  .navbar {
    /* justify-content: space-between; */
    margin: 12px 0px auto;
        padding: 0px 16px 12px 16px;
        border-bottom: 0.5px solid orange;
  }
 
  .menu-image {
    display: inline;
  }
 
  .nav-list,
  .nav-btn,
  .logo-title {
    display: none;
  }
 
  /* banner styles  */
   .banner{
    flex-direction: column-reverse;
    justify-items: center;
    margin: 120px 0px 0 0;
    padding: 5px;
    gap: 20px;
   }
   .banner > img{
    max-width: 100%;
    /* margin: 0 auto; */
   }
   .banner-info{
    max-width: 100%;
    justify-items: center;

   }
   .banner-title{
    font-size: 2rem;
    text-align: center;
    
  }
  .banner-description{
    font-size: 0.8rem;
    text-align: center;
   
  }
  .banner-btn{
    margin: 18px auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  /* curriculum section */
.card-container{
  flex-direction: column;
  /* padding-left: 2px;
  padding-right: 2px; */
}

.card-1,
.card-2,
.card-3{
  max-width: 300px;
  height: 300px;
}
 .card-img{
  /* max-width: 80px;
  height: 70px; */
  max-width: 100%;
 }
.card-title{
  font-size: 1rem;
}
.card-description{
  font-size: 0.6rem;
}


/* story styles */

.stories{
  padding-top: 30px;
  padding-bottom: 30px;
}

.story-section-title{
  font-size: 1.5rem;
}

.left-card{
  display: none ;
}
.right-card{
 max-width: 100%;
  grid-template-columns:repeat(2,1fr);
  gap: 19px;
  padding: 0.8rem;
 
}
.story-card2, 
.story-card3, 
.story-card4, 
.story-card5{
  max-width: 150px;
}
.right-card-title{
  font-size: 0.6rem;
  padding: 20px;
}
.right-card-btn{
  width: 75px;
  height: auto;
  font-size: 0.5rem;
  margin-left: 23px;
  margin-top: -11px;
}

/* footer styles */

.footer-container{
  grid-template-columns: repeat(1,1fr);
  padding: 80px 30px 80px 30px;
}




}
