@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* share styles */
  *{
    margin: 0;
    padding: 0;
  }
  .no-display{
    display: none;
  }
  .display-flex{
    display: flex;
  }
  .blue-font{
    color: rgb(1, 172, 253);
  }
  .yellow-font{
    color: rgb(254, 163, 1);
  }
  .yellow-bg{
    background: rgb(254, 163, 1);
  }
  .black-bg{
    background: rgb(17, 17, 17);
  }
 .btn-primary{
    width: 190px;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border-radius: 12px;
    border: none;
 }
 .horizontal-row{
    border: 1px dashed gray;
 }






  /* navbar styles */
  header{
    max-width: 1150px;
    margin: 0 auto;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 18px;
    
  }
  .logos{
    align-items: center;
    
  }
  .logo-img{
    width: 50px;
    height: 50px;
  }
  .logo-title{
    font-weight: 700;
    font-size: 2rem;
  }
  .menu{
    flex-direction: row;
    gap: 10px;
  }
  .nav-list{
    list-style: none;
  }
  .nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    margin-right: 32px;
  }
  .about{
    color: rgb(1, 172, 253);
  }
  .facilities{
    color: rgb(5, 212, 223);
  }
  .admission{
    color: rgb(93, 88, 239);
  }
.menu-icon-container{
  flex-direction: column;
  gap: 5px;
  /* position: relative;
  display: none; */
}
.menu-icon{
  border: 1px solid rgb(17, 17, 17);
  width: 20px;
  /* position: relative; */
  display: none;
  
}
.nav-btn{
  justify-content: end;
}

.line{
  border: 0.5px solid rgb(254, 163, 1);
  width: 100%;
  display: none;
}

/* banner styles */
.banner{
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* margin-top: 50px; */
}
.banner-img{
  width: 465px;
  height: 575px;
}
.banner-info{
  max-width: 650px;
  margin: auto;
}
.banner-title{
  font-size: 3rem;
  font-weight: 700;
}
.banner-description{
  font-size: 1.25rem;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 400;
}



/* responsive media query styles */

@media screen and (max-width: 576px) {

  .navbar{
    /* justify-content: space-between; */
    margin: 12px 0 auto;
    padding: 0px 16px 12px 16px;
  }
 .menu-image{
  display: inline;
 }
  .menu-icon{
      display: block;
  }
  .line{
    display: block;
  }
  .nav-list,
  .nav-btn,
  .logo-title,
  .logos
  {
    display: none;
  }

  /* banner styles  */
  .banner{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .banner-img{
    width: 100%;

  }
  .banner-title{
    font-size: 2rem;
  }
  .banner-description{
    font-size: 0.8rem;
  }
}